body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
} 

.valami p {
    text-align: justify;
    margin: auto;
}

li {
    text-align: justify;
}

h1 {
    font-size: 3.5em;
}

#jobboldal {
    margin-right: 150px;
}

#baloldal {
    margin-left: 100px;
}

footer {
    margin-top: 50px;
}