body {
  background-image: url(képek/fohatter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#valami p {
    text-align: justify;
    max-width: 700px;   
    margin: auto;     
    background-color: rgba(0, 0, 0, 0.5); 
    color: lightblue;
    padding: 15px;
    border-radius: 8px;
}

h1, h2 {
    color: lightblue;
}

footer {
    margin-top: 50px;
}

#jobboldal {
    margin-right: 150px;
}

#baloldal {
    margin-left: 100px;
}